*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
#main{
    height: 100%;
    width: 100%;
}
nav{
    height: 75px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding-left: 55px;
    padding-right: 55px; 
    padding-top: 45px;
}
#c1{

    width: 20%;
}
#c2{
    height: 100%;
    width: 40%px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 55px;
    margin-left: 35px;
    color: rgb(48, 47, 47);
    position: absolute;
    left: 34%;
    
}
#c2 h4{
    font-weight: 100;
}
.btn{
    padding: 10px 15px;
    border: 3px solid rgb(36, 142, 255);
    color: white;
    background-color: rgb(36, 142, 255);
    border-radius: 50px;
    position: absolute;
    right: 8%;
    font-size: 20px;
    font-weight: 300;
    cursor: pointer;

}
#wrapper{
    height: 750px;
    width: 98%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1.5fr 1fr 1fr;
    grid-template-areas: 'class1 class1 class1'
                        'class2 class3 class4'
                        'class2 class5 class4';
    background-color: rgb(248, 248, 248);
    border-radius: 18px;
    margin: 38px 8px;
    gap: 10px;
}

#child1{
    
    grid-area: class1;
    padding-top: 45px;
    text-align: center;
    font-size: 28px;
    padding-bottom: 15px;
    text-transform: capitalize;
    font-weight: 400;
    border-radius: 18px;
}

#child1 p{
    font-size:18px;
    padding-top: 15px;
    font-weight: 300;
    color: rgb(157, 156, 156);

}
#child2{
    grid-area: class2;
    background-color: rgb(209, 124, 14);
    border-radius: 18px;
    background-image: url(https://cdn.prod.website-files.com/67a21f323bd0e156c6f48245/67b319b2780f114067368440_Frame%202147223323.webp);
    background-size: cover;
    background-position: top;
    
}
#child3{
    grid-area: class3;
    background-color:#0161fe;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;

}
#child3 h2{
    font-size: 60px;
    font-weight: 500;
    padding: 20px 22px;
}
#child3 p{
    font-size: 20px;
    font-weight: 300;
    padding: 12px 20px;
}
#child4{
    grid-area: class4;
    background-color: rgb(187, 213, 74);
    border-radius: 18px;
    background-image: url(https://cdn.prod.website-files.com/67a21f323bd0e156c6f48245/67a5fbb5273bae41bd4e018f_Frame%202147223583.webp);
    background-size: cover;
    background-position: center;

}
#child5{
    grid-area: class5;
    background-color: black;
    border-radius: 18px;
     display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;

}
#child5 i{
    padding: 10px 20px;
    font-size: 28px;
}
#child5 h2{
    font-size: 55px;
    font-weight: 500;
    padding: 10px 20px;
}
#child5 p{
    font-size: 20px;
    font-weight: 300;
    padding: 12px 20px;
}


#button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    font-size: 18px;
    gap: 10px;
    cursor: pointer;
}
.btn1{
    padding: 10px 15px;
    border: 3px solid rgb(36, 142, 255);
    color: white;
    background-color: rgb(36, 142, 255);
    border-radius: 50px;
    cursor: pointer;
}
.btn2{
    padding: 10px 15px;
    border: 3px solid rgb(36, 142, 255);
    color: rgb(36, 142, 255);
    background-color: transparent;
    border-radius: 50px;
    cursor: pointer;
}
.btn2:hover {
     color: white;
    background-color: rgb(36, 142, 255);
}
 

.btn3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(to bottom right, black,rgb(168, 165, 165));
    background-clip: text;

    
   
}
.btn3 p{
    font-size: 28px;
    letter-spacing: 2px;
    line-height: 30px;
    padding-top: 15px;
    color: transparent;

    
}
button{
    border: 2px solid black;
    border-radius: 50px;
    padding: 10px 20px;
   text-transform: capitalize;
   font-size: 18px;
   
}

#stats{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  

    padding: 14px;
    padding-top: 32px;
    margin-top: 32px;
}
#stats h2{
    font-weight: 300;
    font-size: 50px;

}
#stats p{
    font-size: 16px;
    color: rgb(137, 136, 136);
    font-weight: 300;
    padding-top: 10px;
}
#wrapper2{
    width: 86%;
    height: 550px;
    
    border-radius: 20px;
    margin-left: 7%;
    margin-top: 10%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "cld1 cld2 cld3"
                          "cld1 cld4 cld5";
                          gap: 12px;
}
#cld1{
   
    grid-area: cld1;
    border-radius: 18px;
    font-size: 26px;
    

}
#cld1 button{
    padding: 10px 20px;
    background-color: transparent;
}
#cld1 h2{
    font-weight: 300;
}
#cld1 p{
     font-size: 22px;
    color: rgb(137, 136, 136);
    font-weight: 300;
    padding-top: 10px;
}
#btn4{
    border: 2px solid #0161fe;
    display: inline;
    padding: 10px 20px;
    border-radius: 50px;
    background-color:#0161fe ;
    color: white;
}

#cld2{
     background-color: #0161fe;
    grid-area: cld2;
    border-radius: 18px;
display: flex;
 flex-direction: column;
 padding-top: 28px;
 padding-left: 20px;
 gap: 12px;
 font-size: 28px;   
 color: white;
}
#cld3{ background-color: #f8f6f6;
    grid-area: cld3;
    border-radius: 18px;
    display: flex;
 flex-direction: column;
 padding-top: 40px;
 padding-left: 20px;
 gap: 12px;
 font-size: 28px; 


    
}
#cld4{
     background-color: #f8f6f6;
    grid-area: cld4;
    border-radius: 18px;
    display: flex;
 flex-direction: column;
 padding-top: 40px;
 padding-left: 20px;
 gap: 12px;
 font-size: 28px; 


    
}
#cld5{
     background-color: #f8f6f6;
    grid-area: cld5;
    border-radius: 18px;
    display: flex;
 flex-direction: column;
 padding-top: 40px;
 padding-left: 20px;
 gap: 12px;
 font-size: 28px; 
}
#wrapper3{
   width: 96%;
   background-color: #f8f6f6; 
   margin-left: 2%;
margin-top: 80px;
display: grid;
    
}
#cd1{
    background-color: red;
}
#cd2{
    background-color: black;
}
#cd3{
    background-color: honeydew;
}
#cd4{
    background-color: lavenderblush;
}
#cd5{
    background-color: ivory;
}
#cd6{
    background-color: rgb(175, 157, 157);
}
#cd7{
    background-color: rgb(170, 214, 182);
}
#cd8{
    background-color: rgb(182, 199, 87);
}
#cd9{
    background-color: rgb(116, 137, 243);
}
