*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    font-style: helvetica;
    background-color: black;
}
#box{
    height: 300px;
    width: 300px;
    background-color: aquamarine;
    border-radius: 10px;
    border: 2px solid white;
}
#btn{
color: white;
height: 60px;
background-color: red;
width: 140px;
border-radius: 9px;
margin-top: 20px;
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
}
#btn:active{
    scale: 0.95;
}
main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(https://media.istockphoto.com/id/1545637815/vector/synthwave-wireframe-net-illustration-abstract-digital-background-80s-90s-retro-futurism.jpg?s=612x612&w=0&k=20&c=9LMGyg_BEwdgBfSHxcpxgO014zI1rliHNLKEA9Az5Q0=);
    background-position: center;
    background-size: cover;
}
main h1{
    color: rgb(170, 73, 255);
    text-transform: capitalize;
    font-size: 70px;
    margin-bottom: 40px;
}