*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
html, css{
    height: 100%;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#nav{
    height: 45px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(39, 39, 39);
    color: rgba(226, 224, 224, 0.858);
    gap: 35px;
    font-size: 12px;
    font-weight: 70;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#hero{
    height: 560px;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 45px;
    font-size: 28px;
    font-weight: 300;
    background-image: url(https://www.apple.com/v/home/ch/images/heroes/iphone-17-pro/hero_iphone_17_pro__bknyzxfk2agi_medium.jpg);
    background-position: center;
    background-size: cover;
    
}
#button{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}
.btn{
    border: 2px solid lightblue;
    border: none;
    background-color: #06c;
    border-radius: 50px;
    padding: 12px 18px;
    font-size: 20px;
    color: white;
}
#btn2{
    background-color: transparent;
    color: rgb(83, 162, 241);
    border: 1px solid rgb(60, 154, 247);
    padding: 12px 22px;
}


i{
    font-size: 18px;
}
#air{
    height: 500px;
    width: 100%;
    margin-top: 15px;
    background-color: rgb(239, 238, 238);
    text-align: center;
    padding-top: 31px;
    font-size: 28px;
    background-image: url(https://www.apple.com/v/home/ch/images/heroes/iphone-air/hero_iphone_air__0gxyavihpiqu_medium.jpg);
    background-position: center;
    background-size: cover;
}
#air h3{
    font-size: 21px;
    font-weight: 500;
}
#magic{
    height: 600px;
    width: 100%;
    margin-top: 15px;
    background-color: rgb(239, 238, 238);
    text-align: center;
    padding-top: 31px;
    font-size: 28px;
    background-image: url(https://www.apple.com/v/home/ch/images/heroes/iphone-17/hero_iphone_17__c5vvimu9a20y_medium.jpg);
    background-position: center;
    background-size: cover;
}
#magic h3{
    font-size: 22px;
    font-weight: 400;
}
#main2{
    height: 600px;
    width: 100%;
    background-color: white;
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;
    
}
#main2 i{
    font-size: 28px;
}
#left{
    height: 100%;
    width: 49%;
    padding-top: 25px;
    background-image: url(https://www.apple.com/v/home/ch/images/promos/apple-watch-series-11/promo_apple_watch_series_11__b63hxviqvonm_medium.jpg);
    text-align: center;
 background-size: cover;
    background-position: bottom;
}
#right{
    padding-top: 25px;
    height: 100%;
    width: 49%;
    text-align: center;
    background-image: url(https://www.apple.com/v/home/ch/images/promos/airpods-pro-3/promo_airpodspro_3__f6xmza7bglei_medium.jpg);
    background-size: cover;
    background-position: bottom;
}
#main2 h3{
    font-size: 18px;
    font-weight: 400;
}
#main3{
    height: 600px;
    width: 100%;
    background-color: white;
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;
    
}
#main3 i{
    font-size: 28px;
}
#left1{
    height: 100%;
    width: 49%;
    padding-top: 25px;
    background-image: url(https://www.apple.com/v/home/ch/images/promos/macbook-air/promo_macbook_air__fqowrtnxewqe_medium.jpg);
    text-align: center;
 background-size: cover;
    background-position: bottom;
}
#right1{
    padding-top: 25px;
    height: 100%;
    width: 49%;
    text-align: center;
    background-image: url(https://www.apple.com/v/home/ch/images/promos/ipad-air/promo_ipad_air_avail__6i02t7nujr62_medium.jpg);
    background-size: cover;
    background-position: bottom;
}
#main3 h3{
    font-size: 18px;
    font-weight: 400;
}


#main4{
    height: 600px;
    width: 100%;
    background-color: white;
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;
    
}
#main4 i{
    font-size: 28px;
}
#left2{
    height: 100%;
    width: 49%;
    padding-top: 25px;
    background-image: url(https://www.apple.com/v/home/ch/images/promos/iphone-tradein/promo_iphone_tradein__bugw15ka691e_medium.jpg);
    text-align: center;
 background-size: cover;
    background-position: bottom;
}
#right2{
    padding-top: 25px;
    height: 100%;
    width: 49%;
    text-align: center;
    background-image: url(https://www.apple.com/v/home/ch/images/promos/apple-card/promo_apple_card__5cm7draujpey_medium.jpg);
    background-size: cover;
    background-position: bottom;
}
#main4 h3{
    font-size: 18px;
    font-weight: 400;
}

