*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    background-color: rgb(223, 222, 222);
    font-family: Arial, Helvetica, sans-serif;
}
#hero{
    background-color: black;
    text-align: center;
    padding-top: 40px;
    height: 250px;
    width: 100%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    
}
#about{
    background-color: white;
    height: 250px;
    width: 85%;
    text-align: center;
    margin-top: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px ;
    padding-top: 20px;
    padding-left: 20px;
}
#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#hero h1{
    text-transform: uppercase;
}
h2{ 
    text-align: center;
    text-transform:uppercase;
    padding-top: 20px;
    font-size: 30px;
}
#education{
    background-color: rgb(172, 228, 251);
    height: 350px;
    width: 85%;
    text-align: center;
    font-size: 25px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.box{
    background-color: white;
    box-sizing: border-box;
    height: 60px;
    text-align: center;
    padding-top: 15px;
    width: 800px;
}
#skills{
    background-color: rgb(253, 252, 162);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 85%;
    margin-top: 25px;
    font-size: 25px;
    padding-top: 25px;
}
#projects{
     background-color: rgb(217, 246, 197);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 450px;
    width: 85%;
    margin-top: 25px;
    font-size: 25px;
    padding-top: 25px;
}
#Contact{
     background-color: lavender;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 450px;
    width: 85%;
    margin-top: 25px;
    font-size: 25px;
    padding-top: 25px;
}
#footer{
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
    height: 65px;
    margin-top: 20px;
    font-size: 18px;
    padding-top: 20px;
}
