*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
@font-face {
    font-family:got;
    src: url(./resources/Game\ of\ Thrones.ttf);
}
#main{
    height: 100%;
    width: 100%;
    background-image: url(./resources/1605778.jpg);
background-size: cover;
background-position: center;
font-family: got;
color: rgb(243, 218, 157);
text-align: center;
font-size: 45px;
padding-top: 130px;
font-weight: 300;
}
#main button{
    padding: 15px 30px;
    font-size: 20px;
    background-color: transparent;
    color: rgb(219, 216, 216);
    border-radius: 50px;
    font-family:got;
    margin-top: 35px;
}
